.addUser{
    background-color: white;
    width:25%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.form .inputGroup{
    width:100%;
    display:flex;
    flex-direction: column;
}

.form .inputGroup label{
    margin-top: 5px;
}
.form .inputGroup input{
    margin-bottom: 5px;
}
.form .inputGroup button{
      
    margin-top: 5px;
}
.addUser h3{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    color: darkcyan;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px 8px rgba(0, 0, 0, 0.7);
}

.noData{
    margin-top:20px ;
    text-align: center;
    font-weight: bold;

}